node_modules/
yarn-debug.log*
yarn-error.log*

logs/
*.log
*.log.*

.env
.env.*

dist/

*.tmp
*.temp
*.swp
*.swo
*.DS_Store
Thumbs.db

.vscode/
.idea/
*.code-workspace

.DS_Store
*.log
*.pid
*.seed
*.pid.lock

.npm/

docker-compose.override.yml
.dockerignore
.docker/
docker_logs/

coverage/
*.tgz
